#login_logo{
    padding-top: 100px;
    padding-bottom: 20px;
}
#login_logo img{
    width: 200px;
    height: auto;
}
#login_form{
    padding-bottom: 60px;
}
#full_form{
    background-color: var(--white-color);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #e4e4e4;
}
#full_form label{
    font-family: var(--paragraph-font);
}
#signup_btn{
    background-color: var(--color-two);
    color: var(--white-color);
    margin-top: 30px;
    width: 100%;
}
#full_form a{
    text-decoration: none;
}
#login_app_logo img{
    width: 80%;
    height: auto;
    box-shadow: 1px 1px 5px #e4e4e4;
    border-radius: 10px;
}